body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(49, 46, 70);
}
header {
    background-color: rgb(244, 210, 159);
    color: black;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px auto;
    max-width: 800px;
}

section{
    margin-bottom: 20px;
}

h1, 
h3{
    margin: 0;
    display: flex;
    justify-content: center;
}
.container {
    max-width:  800px;
    margin: 0 auto;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.Search-Section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}
.search h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.search



